lazygit
nautilus
nitrogen
obsidian
syncthing
spotify
systemd/user
vlc
BasemarkGPU
GIMP/2.10
Signal
audacity
bluetuith
cef_user_data/Dictionaries
dconf
discord
gnome-control-center/backgrounds
htop
keepassxc
pulse
user-dirs.locale
user-dirs.dirs
reflector-simple-free-params.txt
pavucontrol.ini
okularrc
monitors.xml
mimeapps.list
eos-update-notifier.first_init
QtProject.conf
EOS-greeter.conf
.gsd-keyboard.settings-ported
gtk-2.0/gtkfilechooser.ini
libreoffice/4/user
inkscape
JetBrains
eog
flameshot
homebank
jgit
kmymoney
totem
emaildefaults
emailidentities
kconf_updaterc
kdeglobals
okularpartrc
xournalpp
TeamSpeak/Default
bless
btop
canto
cef_user_data/WidevineCdm
cni/net.d
gwe
unity3d/Ludeon Studios/RimWorld by Ludeon Studios
obs-studio
session
Blackmagic Design
borg/security/687e61044cad64f59f445d28a12318c407268308b09f4d14623d01ac66ab2ee1
lutris
nvim.bak
protonvpn
unity3d/Revival/Overload
borg/security/30c9c71794b326977bca90d14b58f344159da57c47d0053090c9946fb62f79f4
evolution/sources
i3/scripts/__pycache__
i3/scripts/venv
libreoffice/4/cache
pdfarranger
VSCodium
Logseq
chromium
filezilla
git-graph/models
kde.org
EOS-arch-news.conf
dolphinrc
knfsshare
partitionmanagerrc
via-nativia/Crashpad
